:root {
  --violet: #7c3aed;
  --violet-dark: #5b21b6;
  --violet-light: #ddd6fe;

  --bg: #f8f7ff;

  --text-primary: #1a1a1a;
  --text-gray: #64748b;
  --text-gray-light: #cbd5e1;

  --success: #10b981;
  --warning: #f97316;
  --wraning-light: #fef3c7;
  --error: #ef4444;

  --border: #e2e0f0;
}

* {
  font-family: 'Pretendard Variable', sans-serif;
}
